@import "../../styles/base.scss";

.header{
    height: 100%;
    box-shadow: $shadow-1;
}
//AD---------------------------------------------------
.ad { 
    height: 57px;
    width: 100%;
    background-image: url("../../public/images/ad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

//TOP---------------------------------------------------
.top{
    background: #f8f8f8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    &_container{
        max-width: 95%;
        margin: 0 auto;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_list{
        display: flex;
        gap: 15px;
    }
    img{
        width: 20px;

    }
}
