.header{
    height: 100%
    
}
.ad {
    height: 100%;
    width: 100%;
    background-image: url("../../public/images/ad.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}