@import "../../../styles/base.scss";
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImage {
    display: block;
    width: 100% !important; 
    height: 300px !important; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: $shadow-1;
}
.swiper {
    margin-left: 0 !important;
    margin-right: auto;
    cursor: pointer;

    &:hover {

        .swiper-button-prev,
        .swiper-button-next {
            display: grid;
        }
    }
        .swiper-pagination-bullet {
            width: 9px !important;
            border-radius: 5px !important;
        }
    
        .swiper-pagination-bullet-active {
            background: $success-color !important;
            width: 13px !important;
        }
}

