    @import "../styles/base.scss";

    .mainSwiper{
        .swiper-pagination-bullet {
            width: 9px !important;
            border-radius: 5px !important;
        }
        
        .swiper-pagination-bullet-active {
            background: $blue-color !important;
            width: 13px !important;
        }
        
        .swiper-button-prev,
        .swiper-button-next {
            color: #fff !important;
            transform: scale(0.5) !important;
            width: 50px !important;
            height: 80px !important;
            transition: 0.2s;
            background: rgba(102, 102, 102, 0.354) !important;
            display: none !important;
            place-items: center;
        }
    }
    .slideImage {
        display: block;
        width: 100% !important; 
        height: 300px !important; 
        object-fit: cover;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }
